body {
  display: flex;
  height: 100vh;
  margin: 0;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

container {
  max-width: calc(50% - 100px);
  margin:10px;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 0;
  box-shadow: rgba(156, 172, 172, 0.2) 0px 2px 2px, rgba(156, 172, 172, 0.2) 0px 4px 4px, rgba(156, 172, 172, 0.2) 0px 8px 8px, rgba(156, 172, 172, 0.2) 0px 16px 16px, rgba(156, 172, 172, 0.2) 0px 32px 32px, rgba(156, 172, 172, 0.2) 0px 64px 64px;
}

video {
  margin: auto;
  max-width: 100%;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 0;
}

.subscripts {
  top: 100%;
  left: 0;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  background-color: red;
}

.copy {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}